*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#app > *{
    height: 250px;
    border: 1px solid black;
    overflow: auto;
}

/* #app:nth-child(even){
    background-color: red;
} */

 #app > *:nth-of-type(even){
    background-color: slategray;
    color: white;
 }


 #app > *:nth-of-type(odd){
    background-color: steelblue;
    color: white;
 }

.red{
    color: red;
}

.square{
    width: 100px;
    height: 100px;
    background-color: blue;
    margin: 10px;
    display: inline-block;
}

.sxsx{
    background-color: palevioletred;
}

.dxdx{
    background-color: paleturquoise;
}

.little-pic{
    width: 33%;
    height: 100%;
}